<!DOCTYPE html>
<html>
<head>
	<title>不要随意填写</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" /><!-- 禁止纯数字按钮点击就拨号 -->
	<meta name="apple-touch-fullscreen" content="YES" />
</head>
<body>

</body>
<script type="text/javascript" src="http://s.thsi.cn/js/m/common/zepto.js"></script>
<style type="text/css">
	
</style>
<!-- 每个活动页面必须添加统计 ①页面统计 ②按钮统计 -->
<script type="text/javascript" src="http://s.thsi.cn/cb?js/m/common/;basic.js;user.js;bridge.js;js/m/v2/business/;stat.js&20150701"></script>
<script type="text/javascript">
// 一般统计
// eg 1.一般统计：idStat('m_20140901');
// eg 2.带父id的集合统计：idStat('m_20140901','yunying');
// eg 3.带自定义参数的统计：idStat('m_20140901','yunying',{"ac_id":"1"});


//CRMID统计的js代码：
//var img = new Image(); 
//img.src = "http://www.10jqka.com.cn/phone_click.php?source=统计id";
</script>
</html>
